# FastAPI
fastapi
asyncio
pydantic
uvicorn

# orm/db
alembic
ormar
databases
SQLAlchemy

# postgresql
asyncpg
psycopg2

#sqlite
aiosqlite


# util
requests

# passwords
passlib

# jwt
python-jose[cryptography]