# FastAPI
fastapi
asyncio
pydantic
uvicorn

# orm/db
alembic
ormar
databases
SQLAlchemy

# postgresql
asyncpg
psycopg2-binary
# if fails try psycopg2-binary

#sqlite
aiosqlite


# util
requests

# passwords
passlib
python-multipart

# jwt
python-jose[cryptography]